#imag 
{

width: 550px;

}

#imgsz
{

text-align: center;
width:700px;

}

#ima
{

width: 80px;

}

#im
{

width: 90px;

}
#head
{
  display: block; 
}

.font 
{
font-family:'Overlock', sans-serif;
font-size: 24px;

}

.font1 
{
font-family:'Overlock', sans-serif;
font-size: 24px;
}

.color
{
	background-color: black;
}

/*.transparent
{
 opacity: 50%;
}*/

.shape
{
font-family:'Overlock', sans-serif;
font-size: 30px;
text-shadow: 7px 7px 7px #000000	
}


.size
{

font-size: 15px;

}

#barb
{
font-size: 40px;
margin-bottom: 5px;

}
#oko
{
font-size: 20px;
margin-top: 5px;	
}

#middle
{

font-family: 'Overlock', sans-serif; ;
font-size: 24px;
/*text-shadow: 3px 3px 3px red;*/
text-align: center;

}

.content-section{
}

.btn-circle{
	margin-top:10%;
}

.navbar
{

	padding: 0px;
}

.change
{

	color: yellow;

}

.jstfy
{

text-align: justify;
text-justify: inter-word;

}
.panel1{
	margin:auto;
	position: relative;
}
.card{
	width:230px;
	height:335px;
	top: 100px;
    left: 80px;
	position:absolute;
	border-radius:20px;
	border:1px solid white;
	backface-visibility:hidden;
	transition:all 1s ease 0s;
}

.front {
      z-index: 2;
      background-image: url(../images/bnw.jpg);
      background-size: 228px 335px;
      background-repeat:no-repeat;
  }

 .back {
      z-index: 1;
      -webkit-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);  
      transform: rotateY(-180deg);  
      background-image: url(../images/work.jpg);
	  background-size: 280px 330px;
	  background-repeat:no-repeat;
  }

 .panel1:hover .front {
      z-index: 1;
      -webkit-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      transform: rotateY(180deg);
  }

 .panel1:hover .back {
      z-index: 2;   
      -webkit-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      transform: rotateY(0deg);
  }

.change

		{

		font-size: 20px;
		
		}

